@media (max-width: 576px) {
    .favorites-page h1 {
        font-size: 2rem;
        margin-top: 50px;
    }

    .favorites-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .favorites-page h1 {
        font-size: 2.2rem;
        margin-top: 50px;
    }

    .favorites-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .favorites-page h1 {
        font-size: 2.4rem;
        margin-top: 50px;
    }

    .favorites-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 993px) {
    .favorites-page h1 {
        font-size: 2.5rem;
        margin-top: 50px;
    }

    .favorites-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}