@media (max-width: 576px) {
    .profile-container {
        padding: 30px;
        margin-top: 550px;
    }

    .profile-header {
        font-size: 2rem;
        margin-bottom: 30px;
    }
        .profile-page h1 {
        font-size: 2.2rem;
        margin-top: 80px;
    }
}

    .profile-header::after {
        width: 50px;
        height: 2px;
    }

    .profile-card {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .profile-icon {
        font-size: 2rem;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .profile-card-text {
        font-size: 1rem;
    }

    .profile-footer {
        font-size: 1rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .profile-container {
        padding: 40px;
        margin-top: 500px;
    }
        .profile-page h1 {
        font-size: 2.2rem;
        margin-top: 80px;
    }
}

    .profile-header {
        font-size: 2.4rem;
        margin-bottom: 35px;
    }

    .profile-header::after {
        width: 55px;
        height: 2.5px;
    }

    .profile-card {
        padding: 18px;
    }

    .profile-icon {
        font-size: 2.3rem;
        margin-right: 15px;
    }

    .profile-card-text {
        font-size: 1.1rem;
    }

    .profile-footer {
        font-size: 1.05rem;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .profile-container {
        padding: 45px;
        margin-top: 750px;
    }

    .profile-header {
        font-size: 2.6rem;
        margin-bottom: 38px;
    }

    .profile-header::after {
        width: 58px;
        height: 3px;
    }

    .profile-card {
        padding: 20px 25px;
    }

    .profile-icon {
        font-size: 2.4rem;
    }

    .profile-card-text {
        font-size: 1.15rem;
    }

    .profile-footer {
        font-size: 1.1rem;
    }
}

@media (min-width: 993px) {
    .profile-container {
        padding: 50px;
        margin-top: 500px;
    }

    .profile-header {
        font-size: 2.8rem;
        margin-bottom: 40px;
    }

    .profile-header::after {
        width: 60px;
        height: 3px;
    }

    .profile-card {
        padding: 20px 30px;
    }

    .profile-icon {
        font-size: 2.5rem;
    }

    .profile-card-text {
        font-size: 1.2rem;
    }

    .profile-footer {
        font-size: 1.1rem;
    }
}
